name: aes_calendar_example
description: Example for aes_calendar package

publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  aes_calendar:
    path: ../

flutter:
  uses-material-design: true